<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>Projeto NetShoes</title>
    <meta name="description" content="Projeto NetShoes">
    <meta name="author" content="Edson Luiz Fragnan">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./stylesheets/style.css" type="text/css" />
    <script src="javascripts/script.js"></script>
  </head>

  <body>
    <div class="container">
      <div id="carrinhoCompras">
        <span id="carrinho">0</span>
        <img src="images/carrinho.jpg" alt="carrinho" style="width:15%">
      </div>
      <hr />
      <div class="row">
        <% produtos.forEach(function(produto) { %>
          <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 thumbnail">
              <span class="spanId <%- produto.idProduto %>"><%- produto.idProduto %></span>
              <p class="sku <%- produto.sku %>"><%- produto.sku %></p>
              <img src="images/corinthians.jpg" class="imagem <%- produto.idProduto %>" alt="Corinthians" style="width:50%">
              <p class="descProduto <%- produto.idProduto %>"><%- produto.produto %></p>
              <p class="tamanho <%- produto.idProduto %>"><%- produto.tamanhos %></p>
              <p class="precProduto"><%- produto.moeda %> <span class="valProduto <%- produto.idProduto %>"><%- produto.preco %></span></p>
              <p class="parcelas <%- produto.idProduto %>">ou 3 x <%- produto.moeda %> 30,80</p>
              <input type="button" class="btn btn-default btnComprar" id="<%- produto.idProduto %>" onclick="add(this.id);" value="Comprar" />
          </div>
        <% }); %>
      </div>
    </div>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">×</span>
        <h3>Carrinho</h3>
        <hr />
        <div id="prodCarrinho">
          <p id="vazio"><strong>Carrinho vazio.</strong></p>
        </div>
        <hr />
        <span id="cifrao3"></span>
        <div id="total"></div>
        <input type="button" class="btn btn-default" id="btnFecharCompra" value="Comprar" />
      </div>
    </div>
    <script src="javascripts/scriptModal.js"></script>
  </body>
</html>
