<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>Projeto NetShoes</title>
    <meta name="description" content="Projeto NetShoes">
    <meta name="author" content="Edson Luiz Fragnan">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./stylesheets/style.css" type="text/css" />
    <script src="javascripts/script.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div id="carrinhoCompras">
          <span id="carrinho">0</span>
          <img src="images/carrinho.jpg" class="imgCarrinho" alt="carrinho" />
        </div>
        <hr />
      </div>
      <div class="row">
        <% produtos.forEach(function(produto) { %>
          <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 thumbnail">
            <div class="thumbnail <%- produto.idProduto %>">
              <img src="images/corinthians.jpg" class="imagem <%- produto.idProduto %>" alt="Corinthians" style="width:100%">
              <p class="descProduto <%- produto.idProduto %>"><%- produto.produto %></p>
              <p class="tamanho <%- produto.idProduto %>"><%- produto.tamanhos %></p>
              <p class="precProduto"><%- produto.moeda %> <span class="valProduto <%- produto.idProduto %>"><%- produto.preco %></span></p>
              <p class="parcelas <%- produto.idProduto %>">ou 3 x <%- produto.moeda %> 30,80</p>
              <input type="button" class="btn btn-default btnComprar text-center" id="<%- produto.idProduto %>" onclick="add(this.id);" style="width:100%" value="Comprar" />
            </div>
          </div>
        <% }); %>
      </div>
    </div>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">×</span>
        <h3>Carrinho</h3>
        <div id="prodCarrinho">
          <p id="vazio"><strong>Carrinho vazio.</strong></p>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
            <span id="cifrao3"></span>
            <div id="total"></div>
            <input type="button" class="btn btn-success" id="btnFecharCompra" value="COMPRAR" />
          </div>
        </div>
      </div>
    </div>
    <script src="javascripts/scriptModal.js"></script>
  </body>
</html>
